@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Potatoes</h1>
    <p class="lead">The Items managed are types of potatoes as well as how they're prepared.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Attributes</h2>
        <ul>
            <li>Harvest Date (Date) - Required</li>
            <li>Harvest location (String) - Optional</li>
            <li>Cooked or not (Bool) - Optional</li>
            <li>Price per pound (Double) - Required</li>
        </ul>
      
    </div>
    <div class="col-md-4">
        <h2>Types (No Cross-Breeding)</h2>
        <ul>
            <li>Red</li>
            <li>Golden</li>
            <li>Russet Burbank</li>
            <li>Sweet</li>
        </ul>
       
    </div>
    <div class="col-md-4">
        <h2>Categories</h2>
        <ul>
            <li>Baked</li>
            <li>Smashed</li>
            <li>Fried</li>
            <li>Mashed</li>
        </ul>
       
    </div>
</div>